@tailwind base;
@tailwind components;
@tailwind utilities;


/* board */
.board {
  position: relative;
  width: 680px;
  aspect-ratio: 17 / 10;
  margin: 1rem auto;
  display: grid;
  grid-template-columns: repeat(17, 1fr);
  grid-template-rows: repeat(10, 1fr);
  background: #c4f0c5; /* light green */
  border: 4px solid #388e3c; /* dark green */
  user-select: none;
}


/* the translucent yellow drag rectangle */
.drag-rect {
  position: absolute;
  background: rgba(255, 215, 0, 0.3);
  border: 1px solid rgb(114, 138, 237);
  pointer-events: none;
  z-index: 10;
}